<main>

  <hr class="hr_bot">
  <h2 class="text-center">Please select template to edit and print</h2>
  <hr class="text-center heading__hr">
  <div class="modal fade" id="template-form"></div>
  <div class="container">
    <div class="row text-center">

      <div class="col-xs-12 col-sm-12 col-md-6">
        <div class="template__grid">
          <a href="#" class="for__rotate">
            <div class="main__blok_for_img2 img-responsive">
              <%= link_to new_admin_kit_template_path, remote: true, class: "for__rotate" do %>
                <div class="main__blok_for_img3 img__plus_ad img-responsive">
                </div>
              <% end %>
            </div>
          </a>
          <hr class="pull-left template__hr_t">
          <i class="fa fa-plus adm__plus_show"></i>
          <h4 class="pull-left template__head template__head_adm1">Add template.</h4>
          <hr class="template__hr pull-left">
        </div>
      </div>

      <div id="templates">
        <%= render @templates %>
      </div>

    </div>
    <div class="pagin">
      <%= paginate @templates, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination" %>
    </div>
</main>
