<footer class="footer">
  <div class="container footer__container">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-5">
        <h3 class="text-left">About</h3>
        <p class="text-left">Established in April 2014, Altenew strives to bring elegant, natural and versatile designs in paper crafting products. Altenew firmly believes in sharing happiness and comfort with our loved ones through creative expression of crafting. We know that personal, delicate touches of a hand-made card or scrapbook page can bring joy to people that are important in our lives and we are proud to create products that help inspire alluring projects/creations.</p>
      </div>
      <div class="col-md-1"></div>
      <div class="col-xs-12 col-sm-4 col-md-3">
        <h3 class="text-left">Contact Us</h3>
        <address>
          Altenew <br>
          P.O. Box 249 <br>
          East Meadow, NY 11554 <br>
          <br>
          <strong>Email:</strong> support@altenew.com <br>
          <strong>Phone:</strong> (800) 593-1089
        </address>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
        <h3 class="text-left">Subscribe</h3>
        <p>Subscribe to our Newsletter</p>
        <form>
          <div class="input-group">
            <input type="text" placeholder="your@mail.com" class="form-control">
            <span class="input-group-btn">
              <button class="btn footer_form_btn btn-default" type="button">Sign Up</button>
            </span>
          </div>
        </form>
        <div class="row footer__icons">
          <div class="col-xs-2 col-sm-2 col-md-2">
            <a href="http://twitter.com">
              <span class="fa-stack footer__i fa-lg">
                <i class="fa fa-circle fa-stack-2x icon_fone"></i>
                <i class="fa fa-twitter fa-stack-1x fa-inverse icon_rotate"></i>
              </span>
            </a>
          </div>
          <div class="col-xs-2 col-sm-2 col-md-2">
            <a href="http://facebook.com">
              <span class="fa-stack footer__i fa-lg">
                <i class="fa fa-circle fa-stack-2x icon_fone"></i>
                <i class="fa fa-facebook fa-stack-1x fa-inverse icon_rotate"></i>
              </span>
            </a>
          </div>
          <div class="col-xs-2 col-sm-2 col-md-2">
            <a href="https://www.instagram.com/">
              <span class="fa-stack footer__i fa-lg">
                <i class="fa fa-circle fa-stack-2x icon_fone"></i>
                <i class="fa fa-instagram fa-stack-1x fa-inverse icon_rotate"></i>
              </span>
            </a>
          </div>
          <div class="col-xs-2 col-sm-2 col-md-2">
            <a href="https://pinterest.com/">
              <span class="fa-stack footer__i fa-lg">
                <i class="fa fa-circle fa-stack-2x icon_fone"></i>
                <i class="fa fa-pinterest-p fa-stack-1x fa-inverse icon_rotate"></i>
              </span>
            </a>
          </div>
          <div class="col-xs-2 col-sm-2 col-md-2">
            <a href="https://www.youtube.com/">
              <span class="fa-stack footer__i fa-lg">
                <i class="fa fa-circle fa-stack-2x icon_fone"></i>
                <i class="fa fa-youtube-play fa-stack-1x fa-inverse icon_rotate"></i>
              </span>
            </a>
          </div>
          <div class="col-xs-2 col-sm-2 col-md-2">
            <a href="https://my.feed.com/">
              <span class="fa-stack footer__i fa-lg">
                <i class="fa fa-circle fa-stack-2x icon_fone"></i>
                <i class="fa fa-rss fa-stack-1x fa-inverse icon_rotate"></i>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-5 col-md-3">
          <address>
            <em>Store Pollcy | Privacy Pollcy</em><br>
            Copyright &copy; 2016 Altenew, LLC
          </address>
        </div>
        <div class="col-xs-0 col-sm-2 col-md-4"></div>
        <div class="col-xs-2 col-sm-1 col-md-1">
          <i class="fa fa-cc-visa fa-3x bot__pay_method" aria-hidden="true"></i>
        </div>
        <div class="col-xs-2 col-sm-1 col-md-1">
          <i class="fa fa-cc-mastercard fa-3x bot__pay_method" aria-hidden="true"></i>
        </div>
        <div class="col-xs-2 col-sm-1 col-md-1">
          <i class="fa fa-cc-amex fa-3x bot__pay_method" aria-hidden="true"></i>
        </div>
        <div class="col-xs-2 col-sm-1 col-md-1">
          <i class="fa fa-cc-paypal fa-3x bot__pay_method" aria-hidden="true"></i>
        </div>
        <div class="col-xs-2 col-sm-1 col-md-1">
          <i class="fa fa-cc-discover fa-3x bot__pay_method" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
</footer>
